<!DOCTYPE html>
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Home</h1>
    </div>
    @{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a class=" btn btn-dark" href="/Chamados">REGISTRAR USUÁRIO</a>

    </div>
</body>
</html>
